use-node-version=18.12.1
# Use hoisted linking, or Gatsby client bundle builds in partial hydration mode fail.
# PNPM module paths contain "+" which somehow gets turned into " " by webpack.
node-linker=hoisted