# Use hoisted linking, or Gatsby client bundle builds in partial hydration mode fail.
# PNPM module paths contain "+" which somehow gets turned into " " by webpack.
node-linker=hoisted

# We would like all files, including the built ones, to be deployed.
deploy-all-files=true
