@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prose overrides  */
.lg\:prose-xl
  :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding-left: 0 !important;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before {
  content: '' !important;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: '' !important;
}
