/* Import all atom stylesheets. */
@import './components/Atoms/Container.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prose overrides  */
.prose
  :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  font-weight: 400;
}

.lg\:prose-xl
  :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding-left: 0 !important;
}

.prose :where(blockquote p):not(:where([class~='not-prose'])) {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before {
  content: '' !important;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: '' !important;
}

ul li {
  @apply !text-base !font-medium !text-gray-900;
}

.list-style--arrows li,
.list-style--checkmarks li,
.list-style--question-marks li {
  list-style-type: none;
  position: relative;
}

.list-style--arrows li::before {
  position: absolute;
  left: -1.25rem;
  vertical-align: middle;
  line-height: 1.5rem;
  margin-top: 2px;
  content: url('static/icons/arrow.svg');
}

.list-style--checkmarks li::before {
  position: absolute;
  left: -1.25rem;
  vertical-align: middle;
  line-height: 1.5rem;
  margin-top: 2px;
  content: url('static/icons/check.svg');
}

.list-style--question-marks li::before {
  position: absolute;
  left: -1.25rem;
  vertical-align: middle;
  line-height: 1.5rem;
  margin-top: 1px;
  content: url('static/icons/question-mark-circle.svg');
}
