/* Import all atom stylesheets. */
@import './components/Atoms/Container.css';
@import './components/Atoms/List.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prose overrides  */
.prose
  :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  font-weight: 400;
}

.lg\:prose-xl
  :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  padding-left: 0 !important;
}

.prose :where(blockquote p):not(:where([class~='not-prose'])) {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before {
  content: '' !important;
}

.prose
  :where(blockquote p:first-of-type):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: '' !important;
}

/*
  Selects the .block-background-image-cards only when it is the direct
   sibling of .default-hero section.
 */
.default-hero + .block-background-image-cards {
  @apply mt-2 px-0;
}

/*
  Table styling within prose or from drupal gutenberg blocks.
  This component uses the following Table Flowbite styling ported over the tailwind css:
  https://flowbite.com/docs/components/tables/#default-table
 */
.wp-block-table {
  @apply w-full block overflow-x-auto;
}

.wp-block-table table,
.prose table {
  @apply w-full text-sm text-left rtl:text-right text-gray-500;

  thead {
    @apply text-xs uppercase bg-gray-50;

    th {
      @apply px-6 py-3 text-gray-500 leading-[1.125rem];
    }
  }

  tbody {
    tr {
      @apply bg-white border-b hover:bg-gray-50;

      th {
        @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap;
      }

      td {
        @apply px-6 py-4 text-gray-500;

        a {
          @apply font-medium text-blue-600 hover:underline;
        }
      }
    }
  }
}

.wp-block-table table + figcaption,
.prose table + figcaption {
  @apply mt-3 flex justify-center gap-x-2 text-sm leading-6 text-gray-500;
}
