/* We can put any editor specific styling in here */
.gutenberg__editor .editor-styles-wrapper {
  font-family: inherit;
}

.gutenberg__editor blockquote {
  margin: 0;
}

.gutenberg__editor blockquote .quote-image img {
  object-fit: cover;
  max-width: 100%;
  border-radius: 9999px;
}

.gutenberg__editor blockquote::before,
.gutenberg__editor blockquote::after {
  content: '';
}

.gutenberg__editor .container-wrapper {
  display: block;
  position: relative;
  margin: 40px 0;
  border-left: 34px solid #666666;
  padding-left: 10px;
  min-height: 250px;
}

.gutenberg__editor .container-wrapper .container-label {
  font: bold 12px Sans-Serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.gutenberg__editor ul li {
  line-height: 1.5rem;
}
.gutenberg__editor .list-style--arrows li,
.gutenberg__editor .list-style--checkmarks li,
.gutenberg__editor .list-style--question-marks li {
  list-style-type: none;
  position: relative;
  padding-left: 0.625rem;
  margin-left: 0;
  line-height: 1.25rem !important;
}

.gutenberg__editor .list-style--arrows li::before {
  position: absolute;
  left: -1.25rem;
  line-height: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='%236B7280' %3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h4.59l-2.1 1.95a.75.75 0 0 0 1.02 1.1l3.5-3.25a.75.75 0 0 0 0-1.1l-3.5-3.25a.75.75 0 1 0-1.02 1.1l2.1 1.95H6.75Z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.gutenberg__editor .list-style--checkmarks li::before {
  position: absolute;
  left: -1.125rem;
  line-height: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  margin-top: 0.5px;
  content: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='18' height='18' rx='9' fill='%23DEF7EC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6947 6.20519C13.8259 6.33646 13.8996 6.51448 13.8996 6.70009C13.8996 6.88571 13.8259 7.06372 13.6947 7.19499L8.0947 12.795C7.96343 12.9262 7.78541 12.9999 7.5998 12.9999C7.41418 12.9999 7.23617 12.9262 7.1049 12.795L4.3049 9.99499C4.17739 9.86297 4.10683 9.68615 4.10842 9.50261C4.11002 9.31908 4.18364 9.14351 4.31342 9.01372C4.44321 8.88394 4.61878 8.81032 4.80232 8.80872C4.98585 8.80713 5.16268 8.87768 5.2947 9.00519L7.5998 11.3103L12.7049 6.20519C12.8362 6.07397 13.0142 6.00024 13.1998 6.00024C13.3854 6.00024 13.5634 6.07397 13.6947 6.20519Z' fill='%230E9F6E'/%3E%3C/svg%3E ");
}

.gutenberg__editor .list-style--question-marks li::before {
  position: absolute;
  left: -1.125rem;
  vertical-align: middle;
  line-height: 1.25rem;
  height: 1.25rem;
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%236B7280' viewBox='0 0 20 24'%3E%3Cpath fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.008-3.018a1.502 1.502 0 0 1 2.522 1.159v.024a1.44 1.44 0 0 1-1.493 1.418 1 1 0 0 0-1.037.999V14a1 1 0 1 0 2 0v-.539a3.44 3.44 0 0 0 2.529-3.256 3.502 3.502 0 0 0-7-.255 1 1 0 0 0 2 .076c.014-.398.187-.774.48-1.044Zm.982 7.026a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2h-.01Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}
.gutenberg__editor .custom-block-accordion-item-text.questionmark h3::before {
  margin-right: 7px;
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%236B7280' viewBox='0 0 20 24'%3E%3Cpath fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.008-3.018a1.502 1.502 0 0 1 2.522 1.159v.024a1.44 1.44 0 0 1-1.493 1.418 1 1 0 0 0-1.037.999V14a1 1 0 1 0 2 0v-.539a3.44 3.44 0 0 0 2.529-3.256 3.502 3.502 0 0 0-7-.255 1 1 0 0 0 2 .076c.014-.398.187-.774.48-1.044Zm.982 7.026a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2h-.01Z' clip-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.gutenberg__editor .custom-block-accordion-item-text.checkmark h3::before {
  margin-right: 7px;
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%236B7280' viewBox='0 0 20 24'%3E%3Cpath fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.gutenberg__editor .custom-block-accordion-item-text.arrow h3::before {
  margin-right: 7px;
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%236B7280' %3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16ZM6.75 9.25a.75.75 0 0 0 0 1.5h4.59l-2.1 1.95a.75.75 0 0 0 1.02 1.1l3.5-3.25a.75.75 0 0 0 0-1.1l-3.5-3.25a.75.75 0 1 0-1.02 1.1l2.1 1.95H6.75Z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.gutenberg__editor .edit-post-visual-editor__content-area a.no-underline {
  text-decoration: none;
}

.gutenberg__editor .drupal-preview-sidebar {
  min-width: 350px;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gutenberg__editor .drupal-preview-sidebar--iframe-wrapper iframe {
  height: 100vh;
  border: none;
}

.gutenberg__editor .drupal-preview-sidebar .interface-complementary-area-header,
.gutenberg__editor
  .drupal-preview-sidebar
  .interface-complementary-area.edit-post-sidebar {
  width: 100%;
}

.gutenberg__editor .drupal-preview-sidebar--header {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.gutenberg__editor .drupal-preview-sidebar--header button {
  margin-right: 5px;
}
