name: Merge dev to stage
on:
  workflow_dispatch:
  schedule:
    - cron: '15 14 * * *'
jobs:
  merge:
    name: Merge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: 'dev'

      - name: Merge dev to stage
        uses: devmasx/merge-branch@1.4.0
        with:
          type: now
          target_branch: stage
          github_token: ${{ github.token }}
